pandas
scipy
seaborn
openpyxl
fastapi
uvicorn
pydantic>=2.0.0
pydantic_core
requests
psycopg2
sqlalchemy
great-expectations
python-multipart
python-dotenv
pymongo
boto3
pytest
pytest-cov
joblib
passlib
pydantic_settings
motor
